/* Estilos para el menú chico */
.menu-chico {
    display: none; /* Ocultar por defecto en pantallas grandes */
    text-align: right;
    margin-right: 1rem;
}

.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
}

.menu-icon {
    display: inline-block;
    width: 25px;
    height: 3px;
    background-color: var(--color-black);
    margin: 3px 0;
    transition: background-color 0.3s ease;
}

/* Estilos para el menú chico cuando está abierto */
.menu-chico.abierto .menu-icon {
    background-color: var(--color-milan);
}

.menu-chico-lista {
    list-style: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--color-f4);
    padding: 0.5rem;
    border: 1px solid var(--color-ccc);
    display: none;
}

.menu-chico.abierto .menu-chico-lista {
    display: block;
}

.menu-chico-lista li {
    margin-bottom: 0.5rem;
}

/* Media Query para mostrar el menú chico en dispositivos móviles */
@media screen and (max-width: 48rem) {
    .menu-chico {
        display: block; /* Mostrar en dispositivos móviles */
    }

    .nav {
        display: none; /* Ocultar el navbar original en dispositivos móviles */
    }

    .menu-chico-lista {
        position: static;
        background-color: transparent;
        border: none;
        padding: 0;
        display: block;
    }

    .menu-chico-lista li {
        margin-bottom: 0.5rem;
        text-align: center;
    }
}
